@font-face  {
  font-family: Circe;
  src: url('lib/fonts/Circe-Light.otf') format("truetype");
  font-weight: 300;
}
@font-face  {
  font-family: Circe;
  src: url('lib/fonts/Circe-Regular.otf') format("truetype");
  font-weight: 400;
}
@font-face  {
  font-family: Circe;
  src: url('lib/fonts/Circe-Bold.otf') format("truetype");
  font-weight: 600;
}
@font-face  {
  font-family: Circe;
  src: url('lib/fonts/Circe-ExtraBold.otf') format("truetype");
  font-weight: 800;
}
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  letter-spacing: 0.5px;
}
html, body {
  font-family: Circe, serif;
  background: #f8f8f8;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.loader {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}